* {
    font-family: 'Shalimar', cursive;
}

body{
    margin:0;
    padding:0;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    font-size: 28px;
    font-weight: normal;
}

button {
    height: 50px;
    width: 100px;
}

img{
    z-index: -10;
    /* opacity: 0.8; */
    max-width: 480px;
}


#paper{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -10;
}

#text {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#date-display{
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 10px;
}



#input-display{
        padding: 20px;
        display: flex;
        flex-direction: column;
        line-height: 10px;
        max-width: 400px;
        line-height: 30px;

}

#loc-display{
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 10px;
}
