* {
    font-family: 'Righteous', cursive;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: lighter;
    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    text-shadow: 1px 5px 2px #3b3b3b;
    margin-bottom: 40px;
}

h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
    text-shadow: 1px 3px 2px #3b3b3b;
    margin: 10px;
}

h3 {
    font-weight: 100;
    font-size: 38px;
    line-height: 50px;
    color: #ffffff;
    text-shadow: 1px 3px 2px #3b3b3b;
    margin: 10px;
}

p {
    font-size: 20px;
    color: rgb(41, 41, 41);
}

.subtitle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.homebg {
    position: absolute;
    z-index: -100;
    top: 0px;
}

div {
    display: inline;
    text-align: center;
    width: auto;
    height: auto;
}

.msg {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.enter {
    position: absolute;
    top: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 60px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    animation-name: enterbt;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

@keyframes enterbt {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.bt {
    display: inline;
}

img {
    width: 50px;
    position: absolute;
    top: 510px;
    bottom: 0;
    left: 0;
    right: 340px;
    margin: auto;
}

.boat {
    animation: rock-boat 2.5s ease-in-out infinite;
}

@keyframes rock-boat {
    50% {
        -webkit-transform: rotate(-5deg) translateY(-4px);
        opacity: 0.25;
    }
}

@media (max-width: 600px) {
    h1 {
        margin: 0;
        font-size: 60px;
    }
    h2 {
        margin: 5px;
        font-size: 25px;
    }
}